.meals-dets-1{
    box-shadow: 0 4rem 8rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    padding: 2rem;
    width: 80%;
    margin-top: 2rem;
  
  }
  .det-container{
    padding-left: 25rem;
  
  }
  .meals-det-1{
    background-color:white;
    border-radius: 3rem;
    /* margin: 3rem; */
    padding-bottom: 3rem;
    /* width: 80%; */
  }
  .meals-det-1 > h5{
  font-size: 2.5rem;
  }
  .meals-image-1{
    object-fit: cover;
    background-position: center;
    
  }
  .meals-image-1 img{
    width: 90%;
    height: 80vh;
    
  }
  .meals-det-1 > h2{
    font-size: 4rem;
    letter-spacing: .5rem;
    font-weight: 900;
    color: black;
  }
  .meals-det-1 >h3{
    font-size: 3rem;
    font-weight: 800;
    color: black;
  }
  .meals-det-1 > h4{
    font-size: 2rem;
  }
  .meals-con{
    padding-left: 20rem;
  }
.btn button{
    height: 65px;
}
.btn{
    font-size: large;

}
.btn-view{
    margin: 30px;

}