.meals-container-one{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
 
}    
.meals-dets-one{
  /* background-color: rgba(128, 128, 128, 0.411); */
  border-radius: 2rem;
  margin: 1rem;
  padding-bottom: 2rem;
  width: 32%;
}
.meals-det-price-one{
color: #9F73AB;
font-size: larger;
font: 900;
margin-left: 150px;
}
.meals-det-name-one{
  color: #9F73AB;
  font-size: larger;
  font: 1000;
  margin-left: 100px;
  }
.meals-det-desc-one{
  font-size: larger;
  color: #9F73AB;
  margin-left: 20px;
  margin-right: 25px;
}
.meals-image-one > img{
  object-fit: cover;
  border-radius: 2rem;
}
.meals-image-one img{
  width: 90%;
  height: 40vh;
  
}
.meals-det-one{
  font-size: 2rem;
  padding-left: 1rem;
  line-height: 1.7;
}
.btn-view-one{
  background-color: #3F3B6C;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  padding: 1.2rem;
  /* margin: 3rem; */
  margin-left: 1rem;
  margin-right: 6rem;
  min-height: 1rem;
  min-width: 1rem;
  text-decoration: none;
  justify-content: space-between;
  /* margin-right: 80px; */
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  
  
}
.btn-meals-one button{
  height: 65px;
  width: 130px;
}


.btn-meals-one{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
 
}

.board-one{
  text-align: center;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #0a0a23;
  border-radius: 2rem;
  color: white;
  margin-left: 30px;
}
.meals-board-one{
  padding: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
  margin: 5px;
  background-color: #0a0a23;
  
 
}

.min-nav-one{
  display: flex;
  justify-content: space-between;
}


.btn-view-2 {
  background-color: #0a0a23;
  border: none;
  color: white;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;


  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-top: 1rem;
}


.btn-view-2:hover{
  background-color: #002ead;
  transition: 0.7s;

}